# Caddy gets and renews a Let's Encrypt certificate for $DOMAIN automatically.
{$DOMAIN} {
	encode zstd gzip
	reverse_proxy app:8080
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		-Server
	}
	log {
		output stdout
		format console
	}
}
